body {
    background-image: url("newbackground.jpg");
    /* background-image: url("spacescape.png"); */
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

span {
color:rgb(102, 255, 240);
}

h1 {
    color:rgb(255, 129, 129);
}

h2 {
    color:rgb(255, 208, 121);
}

h3{
    color:rgb(255, 255, 118);
}

h4{
    color:rgb(138, 255, 138);
}

h5{
    color:rgb(124, 150, 255);
}

h6{
    color:rgb(115, 59, 115);
}

em{
    color:pink;
}

strong{
    color:mediumslateblue;
}

.webtitle {
z-index:2;
float: none;
position: fixed;
top: 22.5pt;
left: 50%;
transform: translate(-50%, -50%);
width: 500px;
text-align: center;
font-size:25pt;
color:white;
}


.hamburger-icon {
    display: none;
  }
  
header {
z-index: 1;
position:fixed;
top:0;
left:0;
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 0px 0px;
overflow:clip;
background-image: url("newbackground.jpg");
/* background-image: url("spacescape.png"); */
background-size: cover;
background-attachment: fixed;
border-bottom-style:solid;
border-width:1px;
border-color:white;
}

.logo a{
color:white;
font-size: 20pt;
padding: 16px 16px;
text-decoration: none;
}

.logo a:hover {
    background-color: #ddd;
    color: black;
  }

.navigation a{
    color:white;
font-size: 20pt;
padding: 16px 16px;
text-decoration: none;
}

.navigation a:hover{
    background-color: #ddd;
    color: black;
}

.hamburger-icon{
border:none;
background-color:transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x{
color:white;
font-size:1rem;
cursor:pointer;
}

.hamburger-icon input[type="checkbox"] {
appearance: none;
}

.navigation {
display: flex;
}

.navigation a{
color:white
}

.navigation li{
    list-style-type: none;
}

.content
{
clear: both;
padding:20px;
border: 1px;
border-color:white;
border-bottom-style:solid;
border-width:1px;
align-items:center;
margin-top: 50px;
background:rgba(0, 0, 0, 0.8);
color: white;
}

.content p, .content ul, .content ol, .content h1,.content h2,.content h3,.content h4,.content h5,.content h6{
    padding-left:10%;
    width:80%;
}
.content ul, .content ol{
    padding-left: 15%;
    width:70%;
}

@media screen and (max-width: 1100px) {
header {
    display: block;
}
.navigation {
    height:0;
    overflow:hidden;
    /* flex-direction: column; */
    align-items: center;
    transition:all 0.5s ease-in-out;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.logo a{
    transform: translate(0px,15px);
}
.hamburger-icon {
    display: block;
    transform: translate(-5px, 15px);
}
.fa-x{
    display:none;
}
header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
    margin-top: 1rem;
    height:100px;
}

header:not(.hamburger-icon input[type="checkbox"]:checked) .header {
    height:63px;
}

header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
    display:none;
}
header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
    display:inline-block;
}
.content {
    margin-top: 93px;
}

.content p, .content h1,.content h2,.content h3,.content h4,.content h5,.content h6{
    padding-left: 5%;
    width:90%;
    font-size:20pt;
}
.content ul, .content ol{
    padding-left: 10%;
    width:80%;
    font-size:20pt;
}
.webtitle {
top: 35pt;
}
}





.footer
{
clear:both;
width:auto;
height:0px;
text-align : center;
margin-bottom:10px;
}